<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-5">
        <a href="/login">Log In</a>
        <p>Hi, I'm Joao.</p>
        <p>
            This is a basic fantasy football app which collects data directly from the football
            database website. After creating your login, you can draft quarterbacks, running backs,
            wide receivers, tight ends and kickers to create an ultimate roster. You are also able
            to view each player's current fantasy points, as well as his fantasy statistics from
            previous seasons. 
            
            There is no deadline to drafting and dropping, but if another user
            drafts a player before you, then you can no longer draft that player, unless the player
            is then dropped. Statistics can be updated as new NFL games take place in the current
            season by clicking on the update button on the home page. 
        </p>
    </div>
</div>